<div class="w-full flex flex-row justify-between items-center">
  <h1 [appRedirect]="AppRoutes.home">Order BOT Templater</h1>

  <p-divider layout="vertical" />

  <app-project-select [projects]="projects()" [selectedProject]="selectedProject()" (projectSelected)="selectProject($event)"/>

  @for (item of menuItems(); track item.routeVal) {
    <app-header-item [label]="item.label" [selected]="selectedMenuItem() === item" [route]="item.route" [icon]="item.icon"/>
  }

  <div class="flex flex-row gap-2 items-center">
    <p-toggle-switch
      (onChange)="toggleDarkMode()"
      [ngModel]="isEnabled()"/>
    <label class="ml-2"><strong>{{ isEnabled() ? 'Dark mode' : 'Light mode' }}</strong></label>
  </div>

  @if (isLoggedIn | async) {
    <div class="flex flex-row gap-4 items-center">
      <p>Logged in as <strong>{{userName()}}</strong></p>
      <p-button label="Logout" severity="contrast" (click)="logout()"></p-button>
    </div>
  }
</div>
